{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="spacing container"></div>
<div class="main-image-block row align-items-center">
  <div class="col-10 p-lg-5 float-right text-white">
    <img class="d-inline-block float-right csc-logo" src="/media/csc-logo-50px-white.png" alt="CSC logo">
  </div>
  
</div>

<div class="spacer-block"></div>
<div class="container-fluid p-0">
<div class="jumbotron jumbotron-home no-gutters text-black text-center">
    <h1><small>Welcome to </small><span class="text-uppercase logo-font">cardiff skateboard club</span></h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-outline-black rounded-0 btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>



<div class="spacer-block"></div>

<h3 class="text-center">Browse our shit....</h3>






 



<div class="card-group">
  <div class="card overlay-box">
    <a href="href={% url 'products' %}?category=decks"><img class="card-img-top image" src="/media/252223824_3063183927336188_104132403770108639_n.jpg" alt="Card image cap"></a>
    <div class="middle">
      <div class="text">DECKS</div>
    </div>
  </div>

  <div class="card overlay-box">
    <a href="href={% url 'products' %}?category=decks"><img class="card-img-top image" src="/media/174531717_146301687454760_3231269219805880757_n.jpg" alt="Card image cap"></a>
    <div class="middle">
      <div class="text">MAGAZINES</div>
    </div>
  </div>

  <div class="card overlay-box">
    <a href="href={% url 'products' %}?category=decks"><img class="card-img-top image" src="/media/176140880_3015865858738409_4634275918539339472_n.jpg" alt="Card image cap"></a>
    <div class="middle">
      <div class="text">WHEELS</div>
    </div>
  </div>
 
  
</div>


<div class="row justify-content-center">
  <div class="col-12 text-center">
    <img class="" src="/media/new-support-sticker_0c8bed00-d7e9-47b3-babf-76b98bd7a638_600x600.jpeg" alt="support independant shops graphic">
  </div>
</div>










{% endblock %}


    <!-- <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 col-md-6 my-auto">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    
                <h1 class="display-7 logo-font text-white"><img class="d-inline-block d-lg-none" src="https://cdn.shopify.com/s/files/1/1619/8105/files/cscLOGO_50x.png?v=1638443499" alt="CSC logo">
                    Cardiff's only independant skate shop
                </h1></a>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div> -->