{% if product.get_rating >= 5 %}
<i class="ri-star-fill align-bottom" aria-label="star icon"></i><i class="ri-star-fill align-bottom"
    aria-label="star icon"></i><i class="ri-star-fill align-bottom" aria-label="star icon"></i><i
    class="ri-star-fill align-bottom" aria-label="star icon"></i><i class="ri-star-fill align-bottom"
    aria-label="star icon"></i>
{% elif product.get_rating >= 4 %}
<i class="ri-star-fill align-bottom" aria-label="star icon"></i><i class="ri-star-fill align-bottom"
    aria-label="star icon"></i><i class="ri-star-fill align-bottom" aria-label="star icon"></i><i
    class="ri-star-fill align-bottom" aria-label="star icon"></i><i class="ri-star-line align-bottom"
    aria-label="star icon"></i>
{% elif product.get_rating >= 3 %}
<i class="ri-star-fill align-bottom" aria-label="star icon"></i><i class="ri-star-fill align-bottom"
    aria-label="star icon"></i><i class="ri-star-fill align-bottom" aria-label="star icon"></i><i
    class="ri-star-line align-bottom" aria-label="star icon"></i><i class="ri-star-line align-bottom"
    aria-label="star icon"></i>
{% elif product.get_rating >= 2 %}
<i class="ri-star-fill align-bottom" aria-label="star icon"></i><i class="ri-star-fill align-bottom"
    aria-label="star icon"></i><i class="ri-star-line align-bottom" aria-label="star icon"></i><i
    class="ri-star-line align-bottom" aria-label="star icon"></i><i class="ri-star-line align-bottom"
    aria-label="star icon"></i>
{% elif product.get_rating >= 1 %}
<i class="ri-star-fill align-bottom" aria-label="star icon"></i><i class="ri-star-line align-bottom"
    aria-label="star icon"></i><i class="ri-star-line align-bottom" aria-label="star icon"></i><i
    class="ri-star-line align-bottom" aria-label="star icon"></i><i class="ri-star-line align-bottom"
    aria-label="star icon"></i>
{% else %}
No ratings yet
{% endif %}
