{% if review.stars == 5 %}
<i class="ri-star-fill align-bottom" aria-label="star icon"></i><i class="ri-star-fill align-bottom"
    aria-label="star icon"></i><i class="ri-star-fill align-bottom" aria-label="star icon"></i><i
    class="ri-star-fill align-bottom" aria-label="star icon"></i><i class="ri-star-fill align-bottom"
    aria-label="star icon"></i>
{% elif review.stars == 4 %}
<i class="ri-star-fill align-bottom" aria-label="star icon"></i><i class="ri-star-fill align-bottom"
    aria-label="star icon"></i><i class="ri-star-fill align-bottom" aria-label="star icon"></i><i
    class="ri-star-fill align-bottom" aria-label="star icon"></i><i class="ri-star-line align-bottom"
    aria-label="star icon"></i>
{% elif review.stars == 3 %}
<i class="ri-star-fill align-bottom" aria-label="star icon"></i><i class="ri-star-fill align-bottom"
    aria-label="star icon"></i><i class="ri-star-fill align-bottom" aria-label="star icon"></i><i
    class="ri-star-line align-bottom" aria-label="star icon"></i><i class="ri-star-line align-bottom"
    aria-label="star icon"></i>
{% elif review.stars == 2 %}
<i class="ri-star-fill align-bottom" aria-label="star icon"></i><i class="ri-star-fill align-bottom"
    aria-label="star icon"></i><i class="ri-star-line align-bottom" aria-label="star icon"></i><i
    class="ri-star-line align-bottom" aria-label="star icon"></i><i class="ri-star-line align-bottom"
    aria-label="star icon"></i>
{% elif review.stars == 1 %}
<i class="ri-star-fill align-bottom" aria-label="star icon"></i><i class="ri-star-line align-bottom"
    aria-label="star icon"></i><i class="ri-star-line align-bottom" aria-label="star icon"></i><i
    class="ri-star-line align-bottom" aria-label="star icon"></i><i class="ri-star-line align-bottom"
    aria-label="star icon"></i>
{% else %}
No ratings yet
{% endif %}
