{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                <h1 class="h3">My Wishlist</h1>
                <div>Manage your Wishlist</div>
                <hr />
              
                {% if products %}
                {% for product in products %}
              
                <div class="card mb-3 rounded-0">
                  <div class="row g-0">
                    <div class="col-md-2">
                        <img class="img-fluid d-block p-2" width="135px" src="{{ product.image.url }}"
                          alt="{{ product.name }}" />
                    </div>
                    <div class="col-md-10">
                      <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        <p class="card-text"><small class="text-muted">{{product.price}}</small></p>
                        <a type="button" class="btn btn-pink hover-pink fw500 btn-sm" href="{% url 'add_to_wishlist' product.id %}">Remove from Wishlist</a>
                         
                      </div>
                    </div>
                  </div>
                </div>
              
                {% endfor %}
                {% else %}
                <p class="card-text">No products have been added to your wishlist yet</p>
                {% endif %} 
              
              
              
              </div>
              <a href="{% url 'profile' %}" class="btn btn-black hover-pink rounded-0 my-2">
                <span class="icon mr-2">
                    <i class="fas fa-angle-left"></i>
                </span>
                <span class="text-uppercase">Back to Dashboard</span>
            </a>
        </div>
    </div>
        
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
{% endblock %}