
/* from https://stackoverflow.com/questions/4617872/white-space-showing-up-on-right-side-of-page-when-background-image-should-extend */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    
}

.row {
    margin-left: 0;
    margin-right: 0;
}

body {
    display: flex; 
    flex-direction: column;
    font-family: 'Assistant', sans-serif;
}

.content {
    flex: 1 0 auto; 
   
}

.spacer-block {
    height: 100px;
    width: 100%;
}

.jumbo-large {
    height: 500px;
    width: 100%;
}

.footer-bottom {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  /* home page */

  /* Code ammended from https://stackoverflow.com/questions/20134375/how-do-you-create-a-scrolling-window-over-a-still-background-image-with-css */

.spacing {
    height: 20px;
}

.large-font {
    font-size: 3rem;
}

.medium-font {
    font-size: 1.5rem;
}

.main-image-block {
    background: url('/media/jacob-bentzinger-vknJUK53wHU-unsplash.jpg') no-repeat center center fixed; 
    width: 100%;
    height: 800px;
}

.csc-logo {
    width: 400px;
    height: auto;
}
.medium-image {

    width: 330px;
    height: auto;
}


a:hover {
    text-decoration: none;
    /* opacity: 75%; */
}

.image-link:hover {
    zoom: 25%;
    opacity: 75%;
}

/* image overlay  W3 Schools/css tricks */
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    background-position: center;
    background-size: cover;
  
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .overlay-box:hover .image {
    opacity: 0.6;
    
  }
  
  .overlay-box:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: rgb(245, 61, 162);
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }


/* generic styles */

.shadow-hover:hover {
    -webkit-box-shadow: 5px 5px 10px 2px rgba(0,0,0,.2);
            box-shadow: 5px 5px 10px 2px rgba(0,0,0,.2);
}

.shadow {
    -webkit-box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
            box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}


  /* icons */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 2rem;
    width: 2rem;
}

.icon-align { 
    vertical-align: text-bottom; 
}


.social-footer i {
    margin-top: 1em;
    color: #000;
}


.bg-pink {
    background-color: rgb(245, 61, 162); 
}

.banner-text{
    font-size: 11px;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.main-nav-link{
    background-color: white;
}

.nav-toggler-btn {
    color:rgb(245, 61, 162);
}
.shop-now-button {
    background: white;
    color: black;
    min-width: 200px;
}

/* pink text-turns black on hover */
.btn-pink-outline {
    background: white;
    color: rgb(245, 61, 162);
}

.btn-pink {
    background: white;
    color: rgb(245, 61, 162);
    border: 1px solid rgb(245, 61, 162);
}

/* black outline black text */
.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.hover-pink:hover,
.hover-pink:active,
.hover-pink:focus {
    background: rgb(245, 61, 162);
    color: white !important; /* use important to override bootstrap defaults */
}

.thin {
    font-weight: 100;
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: #fff !important;
}

.text-pink {
    color: rgb(245, 61, 162) !important;
}

.teal {
    color: #75fbf4;
}

.bg-teal {
    background-color: #75fbf4;
}

.purple {
    color: #1b124b
}

.bg-purple {
    background-color: #1b124b;
}

.border-black {
    border: 1px solid black !important;
}

.bg-grey {
    background-color: #e9ecef;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}


/* Flash Messages */

.flash-body {
    margin: 10px auto;
    
    width: -webkit-fit-content;
    
    width: -moz-fit-content;
    
    width: fit-content;
    height: auto !important;
}

.flash-body i {
    font-size: 1.5rem;
    color: #313232;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}


.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bg-pink{
    background-color: rgb(245, 61, 162);
}
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-pink {
    color: rgb(245, 61, 162);
}    

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}


/* fixed top navbar only on medium and up */
/* @media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
} */

/* pad the top a bit when navbar is collapsed on mobile */
/* @media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
} */

/* @media (min-width: 400px) {
    .mobile-icon {
        padding: 8px !important;
    }
} */



/* spinner overlay */

.loading-overlay-hidden {
	display: none;
}

.spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    font-size: 2rem;
}

.spinner-border{
    height: 5rem;
    width: 5rem;
}


.review-text-area {
    border-color: rgb(245, 61, 162);
}


/* botstrap template */
/* .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  } */


