<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="logo-font py-0 nav-link text-pink mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skate
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=decks" class="dropdown-item">Decks</a>
                <a href="{% url 'products' %}?category=wheels" class="dropdown-item">Wheels</a>
                <a href="{% url 'products' %}?category=trucks" class="dropdown-item">Trucks</a>
                <a href="{% url 'products' %}?category=bearings" class="dropdown-item">Bearings</a>
                <a href="{% url 'products' %}?category=griptape" class="dropdown-item">Griptape</a>
                <a href="{% url 'products' %}?category=decks,wheels,trucks,bearings,griptape" class="dropdown-item">All Skate</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font py-0 nav-link text-pink mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=caps_beanies" class="dropdown-item">Caps &amp; Beanies</a>
                <a href="{% url 'products' %}?category=dvds_zines" class="dropdown-item">Dvds &amp; 'Zines</a>
                <a href="{% url 'products' %}?category=gifts" class="dropdown-item">Gifts</a>
                <a href="{% url 'products' %}?category=caps_beanies,dvds_zines,gifts" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font py-0 nav-link text-pink mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brands
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?brand=alltimers" class="dropdown-item">Alltimers</a>
                <a href="{% url 'products' %}?brand=anti_hero" class="dropdown-item">Anti Hero</a>
                <a href="{% url 'products' %}?brand=bones" class="dropdown-item">Bones</a>
                <a href="{% url 'products' %}?brand=butter_goods" class="dropdown-item">Butter Goods</a>
                <a href="{% url 'products' %}?brand=chocolate" class="dropdown-item">Chocolate</a>
                <a href="{% url 'products' %}?brand=handy_supply_co" class="dropdown-item">Handy Supply Co</a>
                <a href="{% url 'products' %}?brand=independent" class="dropdown-item">Independent</a>
                <a href="{% url 'products' %}?brand=oj" class="dropdown-item">OJ</a>
                <a href="{% url 'products' %}?brand=sour_solution" class="dropdown-item">Sour Solution</a>
                <a href="{% url 'products' %}" class="dropdown-item">View All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font py-0 nav-link text-pink mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
</div>