{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="spacer-block-sm"></div>
        <!-- product title -->
        <div class="col-12 text-center">
            <h3 class="mb-0">{{ product.name }}</h3>
        </div>
        <!-- product details -->
        <div class="col-12 col-md-6 col-lg-3 text-right offset-lg-2">
            <div class="product-details-container text-center text-md-right mb-5 mt-md-5">
                <p class="lead mb-0 font-weight-bold">£{{ product.price }}</p>
                <p class="text-pink">{% if product.get_rating == 0 %} Rating: <small>No ratings yet</small>
                    {% else %}
                    Rating: {{ product.get_rating|floatformat:1 }}/5
                    {% include 'products/includes/star_ratings_avg.html' %}
                </p>
                {% endif %}
                {% if product.get_recommended == 0 %}
                <p><small><strong>{{ product.get_recommended  }}</strong> customers have recommend this
                        product.....yet.</small></p>
                {% elif product.get_recommended == 1 %}
                <p><small><strong>{{ product.get_recommended  }}</strong> customer has recommend this product.</small>
                </p>
                {% else %}
                <p><small><strong>{{ product.get_recommended  }}</strong> customers recommend this product.</small></p>
                {% endif %}

                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                    </a>
                </p>
                {% endif %}

                {% if request.user.is_superuser %}
                <div class="ml-3">
                    <small><a href="{% url 'edit_product' product.id %}">Edit</a> |
                        <a class="delete-modal-trigger text-danger remove-item" data-toggle="modal"
                            data-target="#DeleteProductModal" aria-label="Delete {{ product.name }}">
                            Delete
                        </a></small>

                    <!-- Delete Product Modal -->
                    <div class="modal fade" id="DeleteProductModal" tabindex="-1" aria-labelledby="DeleteProductModal"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header mx-auto">
                                    <h5 class="modal-title">
                                        <i class="align-bottom ri-error-warning-line ri-x2 p-2"></i>Confirm Delete</h5>
                                </div>
                                <div class="modal-body text-center">
                                    <p>Are you sure you want to permanently delete {{ product.name }}? Once you
                                        click delete this action cannot be undone.</p>
                                </div>
                                <div class="modal-footer mx-auto">
                                    <button type="button" class="btn modal-cancel-btn btn-sm btn-outline-secondary"
                                        data-dismiss="modal" aria-label="Close">Cancel</button>
                                    <a href="{% url 'delete_product' product.id %}"
                                        class="btn btn-sm modal-delete-btn btn-danger" aria-label="delete">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <p class="mt-3">{{ product.description }}</p>
                {% if product in request.user.userprofile.wishlist.all %}
                <a href="{% url 'add_to_wishlist' product.id %}" class="btn btn-outline rounded-0 text-uppercase"
                    aria-label="remove from wishlist" role="button" aria-disabled="false">Added to your Wishlist <i
                        class="ri-heart-fill text-pink ri-lg align-middle"></i></a>
                {% else %}
                <a href="{% url 'add_to_wishlist' product.id %}" class="btn btn-pink rounded-0 text-uppercase"
                    role="button" aria-label="add to wishlist" aria-disabled="false">Add
                    to Wishlist <i class="ri-heart-line text-pink ri-lg align-middle"></i></a>
                {% endif %}
            </div>
        </div>

        <!-- product image -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank" aria-label="view image">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}"
                        onerror="this.onerror=null; this.src='{{ MEDIA_URL }}awaiting-image.jpeg'"
                        alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="#" aria-label="temporary product image">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}awaiting-image.jpeg"
                        alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    <hr class="hr-grey">

    <!-- quantity form -->
    <div class="row mb-4">
        <div class="col-12">
            <form class="form mt-1 text-center" action="{% url 'add_to_bag' product.id %}" method="POST">
                {% csrf_token %}

                <p class="mt-1"><strong>Quantity:</strong></p>
                <div class="form-group">
                    <div class="input-group quantity-field mx-auto">
                        <div class="input-group-prepend">
                            <button class="decrement-qty btn btn-black rounded-0" data-item_id="{{ product.id }}"
                                id="decrement-qty_{{ product.id }}" aria-label="decrease quantity button">
                                <span class="icon">
                                    <i class="ri-indeterminate-circle-fill ri-2x"></i>
                                </span>
                            </button>
                        </div>
                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99"
                            data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                        <div class="input-group-append">
                            <button class="increment-qty btn btn-black rounded-0" data-item_id="{{ product.id }}"
                                id="increment-qty_{{ product.id }}" aria-label="increase quantity button">
                                <span class="icon">
                                    <i class="ri-add-circle-fill text-pink ri-2x"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>

                <a href="{% url 'products' %}" class="btn px-0 px-md-3 btn-black hover-pink rounded-0 mt-5">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>

                <input type="submit" class="btn btn-pink hover-pink rounded-0 text-uppercase mt-5" value="Add to Bag">
                <!-- Enables users to be directed back to the page they came from -->
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>
    </div>
</div>

<hr class="hr-grey">
<div class="spacer-block-sm d-lg-block d-none"></div>

<!-- reviews -->
<div class="container">
    <div class="row mt-2">
        <div class="col-12 col-lg-6">
            <h2>Reviews</h2>
            {% for review in product.reviews.all %}
            <div class="review-container bg-grey p-4 mb-2">
                <p>
                    <span class="text-pink">{% include 'products/includes/star_ratings.html' %}</span>
                    <strong>{{ review.user }}</strong>:
                    {{ review.date_added|naturaltime }}
                </p>
                <p>{{review.review_text }}</p>
                <p><small>
                        {% if review.recommended %}
                        <i class="align-bottom p-1 ri-checkbox-circle-fill ri-1x"></i><strong>Yes</strong>
                        I recommend this product.
                        {% else %}
                        <i class="align-bottom p-1 ri-close-circle-fill ri-1x"></i><strong>No</strong>
                        I don't recommend this product.
                        {% endif %}
                    </small></p>

                {% if request.user.is_superuser or request.user == review.user %}
                <p class="text-right">
                    <small><a href="{% url 'edit_review' review.id %}" aria-label="edit review">Edit</a></small>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <small><a class="delete-modal-trigger text-danger remove-item" data-toggle="modal"
                            data-target="#DeleteReviewModal-{{ review.id }}"
                            aria-label="Delete {{ review.user }} review">Delete</a></small>
                </p>
                {% endif %}
            </div>

            <!-- Delte Review Modal -->
            <div class="modal fade" id="DeleteReviewModal-{{ review.id }}" tabindex="-1"
                aria-labelledby="DeleteReviewModal-{{ review.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header mx-auto">
                            <h5 class="modal-title"><i class="align-bottom ri-error-warning-line ri-x2 p-2"></i>Confirm
                                Delete</h5>
                        </div>
                        <div class="modal-body text-center">
                            <p>Are you sure you want to permanently delete
                                <strong>{{ review.user }}'s</strong> review? Once you
                                click delete
                                this action cannot be undone.</p>
                        </div>
                        <div class="modal-footer mx-auto">
                            <button type="button"
                                class="btn modal-cancel-btn btn-sm btn-outline-secondary text-uppercase"
                                data-dismiss="modal" aria-label="Cancel">Cancel</button>
                            <a href="{% url 'delete_review' review.id %}"
                                class="btn btn-sm modal-delete-btn btn-danger text-uppercase"
                                aria-label="delete">Delete</a>
                        </div>
                    </div>
                </div>
            </div>

            {% empty %}
            <div>
                <p>No reviews yet...</p>
            </div>
            {% endfor %}
        </div>

        <hr class="hr-grey d-flex d-lg-none">

        <!-- Add a Review -->
        <div class="col-12 col-lg-6">
            {% if request.user.is_authenticated %}
            <h2>Add A Review</h2>
            <div class="add-review-container bg-grey p-4 mb-2">
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <label class="m-2">Rate this product out of 5</label>
                        <select name="stars" class="review-text-area form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3" selected>3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>

                    <div>
                        <label class="m-2">Review this product</label>
                        <div class="control class m-2">
                            <textarea class="review-text-area form-control" aria-label="review text" name="review_text"
                                cols="50" rows="10"></textarea>
                        </div>
                    </div>

                    <div>
                        <label class="m-2">Would you recommend this product?</label>
                        <select name="recommended" aria-label="product recommendation" class="review-text-area ml-2">
                            <option value="True">Yes</option>
                            <option value="False">No</option>
                        </select>
                    </div>
                    <div class="control m-2">
                        <button class="btn btn-pink hover-pink rounded-0" aria-label="submit">Submit</button>
                    </div>
                </form>
            </div>
            {% else %}
            <h2>Please sign in to add a review</h2>
            {% endif %}
        </div>
    </div>
</div>
<hr class="hr-grey">
<div class="spacer-block-sm"></div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_adjust_script.html' %}
{% endblock %}
