<div class="toast custom-toast shadow rounded-0" data-autohide="false">
    <div class="w-100"></div>
    <div class="toast-header bg-pink text-dark">
        <strong class="mx-auto">Bag Updated</strong>
        <button type="button" class="ml-2 mb-1 close text-dark" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body w-100">
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-1 mb-2">
            </div>
        </div>
        {% if bag_items and not on_profile_page and not on_checkout_success_page and not on_bag_page %}
        
            <p class="logo-font text-black">Your Bag ({{ product_count }})</p>
            <div class="bag-notification-wrapper">
                {% for item in bag_items %}
                    <div class="row bg-grey m-2">
                        <div class="col-3 my-1 p-1">
                            {% if item.product.image %}
                            <img class="w-100" src="{{ item.product.image.url }}" onerror="this.onerror=null; this.src='{{ MEDIA_URL }}awaiting-image.jpeg'"
                            alt="{{ product.name }}">
                            {% else %}
                            <img class="w-100" src="{{ MEDIA_URL }}awaiting-image.jpeg" alt="{{ item.product.name }}">
                            {% endif %}
                        </div>
                        <div class="col-9 p-1">
                            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                            <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col text-center">
                    <hr>
                    <p class="mt-3 mb-1 text-black">
                        <strong>Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}:
                            <span class="float-right">£{{ total|floatformat:2 }}</span>
                        </strong>
                    </p>
                    {% if free_delivery_delta > 0 %}
                    <p class="mb-0 p-2 text-black text-center">
                        Spend <strong>£{{ free_delivery_delta }}</strong> more to get free next day delivery!
                    </p>
                    {% endif %}
                    <hr>
                    <a href="{% url 'view_bag' %}" class="btn btn-pink hover-pink btn-sm mt-1 rounded-0">
                        <span class="text-uppercase align-text-bottom p-1">View Bag<i class="ri-shopping-bag-line ri-lg icon"></i></span>
                    </a>
                </div>
            </div>

        {% elif not bag_items %}
        <h5 class="mt-3 mb-1 text-black">
            Your bag is currently empty.
        </h5>
        {% endif %}
    </div>
</div>